@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


/*CSS - Element Tags*/
html {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #1C2A37;
	font-family: sans-serif;
	font-size: 16px;
	background: url(../img/space.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

li {
	list-style: none;
	padding-left: 30px;
}

a {
	text-decoration: none;
	color: #ecf0f1;
	font-weight: 500;
}

a:hover {
	color: #5bc399;
	font-weight: 400;
}

header, .nav-bar, .nav-links ul, .auth-links ul {
	display: flex;
	align-items: center;
}

header {
	/*position: absolute;*/
	justify-content: space-between;
	margin: 0;
	width: 100%;
	height: 120px;
	max-height: 120px;
	/*background-color: #fff;*/
	padding: 0 0 0 45px;
	box-sizing: border-box;
}

/*Defaults*/
.default-background {
	background-color: #1C2A37
}


/*CSS Classes and IDs*/

/*Navigation*/
.container {
}

#logo {
	flex: 1;
	box-sizing: border-box;
}

#logo img {
	width: 188px;
}

.nav-bar {
	flex: 3;
	justify-content: space-between;
	padding: 0 45px 0 0;
	text-transform: uppercase;
}

.nav-links {
	max-width: 600px;
	flex: 2;
	text-align: center;
	padding-right: 100px;
}

.nav-links ul {
	justify-content: space-around;
}

.auth-links {
	max-width: 300px;
	min-width: 300px;
	flex: 1;
	font-family: helvetica;
	padding-right: 25px;
}

.auth-links ul {
	justify-content: flex-end;
}

.auth-links ul li a {	
	font-weight: 300;
}

#get-started {
	padding: 12px 8px;
	border: 2px solid #5bc399;
	border-radius: 5px;
	margin-left: 10px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #5bc399;
}

#get-started:hover {
	background-color: #5bc399;
	color: #fff;
}

/*Headliner*/
.banner {
	width: 100%;
	height: 600px;
	background: transparent;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, transparent, #1C2A37);
    background: -o-linear-gradient(bottom, transparent, #1C2A37);
    background: linear-gradient(to bottom, transparent, #1C2A37);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headliner {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	justify-content: flex-end;
}

.headliner-text {
	width: 600px;
	position: relative;
	top: 45px;
	right: 48%;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 6rem;
}

.headliner-text h1 {
	font-size: 4.3rem;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 200;
}

.headliner-text button {
	padding: 25px 45px;
	background-color: #5FC29A;
	border: none;
	border-radius: 4px;
	font-size: 1.2rem;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
}

.headliner-img {
	position: absolute;
	top: 60px;
	left: 50%;
}

.headliner-img img {
	height: 700px;
}
